html
    head
        title icon
    body class='app-drag-region'
    styl
        body
            position  absolute
            bottom    0
            right     0
            left      0
            top       0
            margin    0
            padding   0
            
            & img
                pointer-events none
        
    script type="module" src="./kxk/icon.js"
    