doctype html
html lang="en"
    head
        title kakao
        meta charset="utf-8"
        link rel="stylesheet" href="./css/style.css" type="text/css"
        link rel="stylesheet" href="./css/dark.css"  type="text/css"
    body
        #titlebar
        #main tabindex=0
    
    script type="module" src="./main.js"
    