doctype html
html lang="en"
    head
        title kalk
        meta charset='utf-8'
        link rel="stylesheet" href="./css/style.css"      type="text/css"
        link rel="stylesheet" href="./css/dark.css"       type="text/css"
        link rel="stylesheet" href="./css/kalk/style.css" type="text/css"
        link rel="stylesheet" href="./css/kalk/dark.css"  type="text/css" class="scheme-link"
    body
        #titlebar
        #main tabindex=0
            #sheet
            #input
            #keys
    script type="module" src="./kalk/kalk.js"