doctype html
html lang="en"
    head
        title turtle
        meta charset='utf-8'
        link rel="stylesheet" href="./css/style.css"        type="text/css"
        link rel="stylesheet" href="./css/dark.css"         type="text/css"
        link rel="stylesheet" href="./css/turtle/style.css" type="text/css"
        link rel="stylesheet" href="./css/turtle/dark.css"  type="text/css"
    body class='app-drag-region'

        #bubble class='silent'
            #say-tri
            #say-box
                #say
                
        div class='turtle app-drag-region'
            input class='app-drag-region' type="submit" name="" value="" id='turtle' disabled

        #master-border class='border'
            input class='main-input' type='password' name='master' id='master' tabindex=0
            #master-ghost class='ghost' 
                master
            div class='timeout-box'
                #master-timeout class='timeout'

        #settings
            #pattern-border class='border'
                input id='pattern' class='main-input' type='input' name='pattern'
                span
                    #floppy class='ghost'
                    #pattern-ghost class='ghost'
                        pattern
                    
        #site-border class='border'
            input id='site' class='main-input' type='input' name='site' 
            #site-ghost class='ghost'
                site
            
        #password-border class='border'
            input id='password' class='main-input' type='button' name='password' 
            
            #lock class='ghost'
                
            #password-ghost class='ghost' 
                password
    
    script type="module" src="./turtle/turtle.js"
    