
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor             = #181818
frameColor          = #222
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

.input-text 
    color               textFocusColor
    border              1px solid frameColor
    border-radius       10px
  
// 000   000  00000000  000   000  
// 000  000   000        000 000   
// 0000000    0000000     00000    
// 000  000   000          000     
// 000   000  00000000     000     

.key
span
    border              none
    white-space         pre
    &.nan
        color           #f00
    &.digit
        color           #88f
    &.function
        color           #f80
    &.constant
        color           #ff0
    &.op0
        color           #fff
    &.op1
        color           #aaf
    &.op2
        color           #66f
    &.bracket
        color           #333
    &.equals
        color           #444
    &.dot
    &.exponent
    &.complex
        color           #44a
    
.key
    z-index             1000
    color               scrollColor
    border              1px solid frameColor
    &:hover
        background      frameColor
        color           textFocusColor
    &:active
        background      scrollHoverColor

    