
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth          = 6px
titlebarHeight      = 30px
titlebarFontSize    = 15px
titlebarFont        = Bahnschrift Light, Ebrima, Varela Round, Arial Rounded MT Bold, Helvetica, Arial
fontMono            = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

body
    font-family         fontMono
    font-size           14px
    
//  0000000  000   000  00000000  00000000  000000000  
// 000       000   000  000       000          000     
// 0000000   000000000  0000000   0000000      000     
//      000  000   000  000       000          000     
// 0000000   000   000  00000000  00000000     000     

#main
    display             flex
    flex-direction      column

#sheet
    flex                1 1 0
    overflow            auto
    display             flex
    flex-direction      row
    
.sheet-calc  
    flex      1 1 0  

.sheet-result
    flex      1 1 0               

.sheet-line
    white-space         nowrap
    height              26px
    text-align          right
    font-size           22px
    -webkit-user-select auto
    padding-right       10px
    display             block
    margin-left         auto
    width               94%
    overflow            hidden
    &.result
        text-align      left
    
// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

#input
    width               100%
    flex                0 0 100px
    margin-left         6px
    margin-top          9px
    
.input-text 
    height              100px
    width               435px
    border-radius       10px
    text-align          right
    font-size           80px
    -webkit-user-select auto
    padding-right       10px
    white-space         pre

// 000   000  00000000  000   000  
// 000  000   000        000 000   
// 0000000    0000000     00000    
// 000  000   000          000     
// 000   000  00000000     000     

.key
span
    &.function
    &.complex
        font-style      italic
    
#keys
    flex                0 0 0

.key-row
    font-size           60px
    overflow            visible

.key
    vertical-align      top
    padding-top         20px
    font-size           35px
    width               80px
    height              60px
    text-align          center
    border-radius       10px
    cursor              pointer
    -webkit-user-select none
    -webkit-app-region  no-drag
    &.bottom 
        padding-top  105px
    &.right
        text-align   right
        padding-right 31px
    
    